@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full;
}

.blockquote {
    border-left-width: 2px;
    border-left-color: rgb(var(--color-primary-600))
}
